# Local experiment outputs / weights
notebooks/experiments/cqt/
experiments/
examples/
outputs/
CQTdiffMatlab/database_ofdm/
.claude/
nul



# Torch / ML
*.pt
*.pth
*.wav

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# OS
Thumbs.db
.DS_Store

# IDE
.idea/